SESSION_SECRET=Your Session Secret to Encrypt Session Cookies
DATABASE_URL=Postgres Database URL
CLOUDINARY_CLOUD_NAME=Your Cloudinary Account Name
CLOUDINARY_KEY=Cloudinary API Key
CLOUDINARY_SECRET=Cloudinary API Secret
CLOUDINARY_FOLDER=Main folder to use in cloudinary e.g. 'fireflower'